{% extends 'base.html' %}

{% block title %} | About{% endblock %}

{% block content %}
	<h1>What is Group Meeting?</h1>

    {% if user.is_authenticated %}
        <h1>hello {{ user.username }}!</h1>
    {% else %}
        <h1>hello world!</h1>
    {% endif %}
	<p>Nulla turpis, bibendum mi posuere, ultrices primis turpis aptent ridiculus.</p>

	<p>Etiam interdum rhoncus. Proin mollis montes id lorem rutrum.</p>

	<p>Quam pulvinar lacinia ante pretium facilisi mus placerat senectus ipsum commodo.</p>
{% endblock %}