{% extends 'base.html' %}

{% block title %} | About{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="well" style="text-align: center;">
            <h1>What is Project Central?</h1>
            <p>Nulla turpis, bibendum mi posuere, ultrices primis turpis aptent ridiculus.</p>

            <p>Etiam interdum rhoncus. Proin mollis montes id lorem rutrum.</p>

            <p>Quam pulvinar lacinia ante pretium facilisi mus placerat senectus ipsum commodo.</p>
        </div>
    </div>
{% endblock %}