{% load addcss %}
{% load static %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Add a Note</h4>
</div>

<div class="modal-body">
    <form id="file_form" method="post" action="/add-note/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field | addcss:"form-control"}}
            <br/>
        {% endfor %}

        <br />

        <input class="btn btn-primary" type="submit" name="submit" value="Add Note" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </form>
</div>