<div id="display">
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventMouseover: function(event, jsEvent, view) {
                },
                defaultDate: Date(),
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for meeting in meetings %}
                        {
                            title: '{{ meeting.title }}',
                            start: '{{ meeting.begin_format }}',
                            end: '{{ meeting.end_format }}'
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            });
        });
    </script>

    <div id='calendar' style="max-width: 700px; margin: 0 auto;"></div>

</div>