<div id="display">
    <div id="meetingModal"></div>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventClick: function(event, jsEvent, view) {
                    if (event.shown == false) {
                        var display = "Where: " + event.place + "<br/>" +
                                "From: " + event.start_date + "<br/>" +
                                "To: " + event.end_date + "<br/>" +
                                "Description: " + event.description + "<br/>" +
                                "<hr/>" +
                                "<button type='submit' class='btn btn-info'><i class='glyphicon glyphicon-pencil'></i> Edit</button>" +
                                "<button type='submit' class='btn btn-danger' style='float: right;' onclick='deleteMeeting(" + event.id + ");'>Delete <i class='glyphicon glyphicon-trash'></i></button>"
                        $(this).popover({html: true, title: event.title, placement: 'top', container: 'body', content: display}).popover('show');
                        event.shown = true;
                        $('#calendar').fullCalendar('updateEvent', event);
                    }
                    else {
                        $('.popover').popover('destroy');
                        event.shown = false;
                        $('#calendar').fullCalendar('updateEvent', event);
                    }
                },
                defaultDate: Date(),
                editable: false,
                eventLimit: true,
                events: [
                    {% for meeting in meetings %}
                        {
                            title: '{{ meeting.title }}',
                            start: '{{ meeting.begin_format }}',
                            end: '{{ meeting.end_format }}',
                            id: '{{ meeting.id }}',
                            description: '{{ meeting.description }}',
                            place: '{{ meeting.place }}',
                            start_date: '{{ meeting.date_begin }}',
                            end_date: '{{ meeting.date_end }}',
                            shown: false
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            });
        });
    </script>

    <div id='calendar' style="max-width: 700px; margin: 0 auto;"></div>
    <br/><br/>
    <a href="/add-meeting/" class="btn btn-primary">Add a Meeting</a>

</div>