<div id="display">
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventMouseover: function(event, jsEvent, view) {
                    var display = "Where: " + event.place + "<br/>" +
                            "From: " + event.start_date + "<br/>" +
                            "To: " + event.end_date + "<br/>" +
                            "Description: " + event.description
                    $(this).popover({html:true, title:event.title, placement:'top', container:'body', content:display}).popover('show');
                },
                eventMouseout: function(event, jsEvent, view) {
                    $(this).popover('destroy');
                },
                defaultDate: Date(),
                editable: false,
                eventLimit: true,
                events: [
                    {% for meeting in meetings %}
                        {
                            title: '{{ meeting.title }}',
                            start: '{{ meeting.begin_format }}',
                            end: '{{ meeting.end_format }}',
                            id: '{{ meeting.title }}_{{ forloop.counter }}',
                            description: '{{ meeting.description }}',
                            place: '{{ meeting.place }}',
                            start_date: '{{ meeting.date_begin }}',
                            end_date: '{{ meeting.date_end }}'
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            });
        });
    </script>

    <div id='calendar' style="max-width: 700px; margin: 0 auto;"></div>
    <br/><br/>
    <a href="/add-meeting/" class="btn btn-primary">Add a Meeting</a>

</div>