{% extends 'base.html' %}
{% load addcss %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="container login well">
        <h1>Create a Project</h1>

        <form id="project_form" method="post" action="/create-project/">

            {% csrf_token %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field | addcss:"form-control"}}
                <br/>
            {% endfor %}

            <br />

            <input class="btn btn-primary" type="submit" name="submit" value="Create Project" />
        </form>

    <script type="text/javascript">
        $(function () {
            $('#id_due_date').datetimepicker();
        });
    </script>

    </div><!-- /container -->
{% endblock %}