<h3>Files</h3>
<div>
    <div id="fileModal"></div>
    {% if not files %}
        <p>No files for this project...</p>
    {% else %}
        {% for file in files %}
            <h4>{{ file.title }}</h4>
            <a href="{{ file.file.url }}" class="btn btn-primary" target="_blank">
                Download <i class="glyphicon glyphicon-download"></i>
            </a>
            <a href="/edit-file/{{ file.id }}" class="btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i> Edit
            </a>
            <button type="submit" class="btn btn-danger" onclick="deleteFile({{ file.id }});">
                Delete <i class="glyphicon glyphicon-trash"></i>
            </button>
            <hr/>
        {% endfor %}
    {% endif %}
    <br/><br/>
    <a href="/add-file/" class="btn btn-primary">Add a File</a>
</div>