{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div id="projectModal"></div>
    <div class="col-lg-12" id="project">
        <div id="project-content">
            <div class="col-md-2">
                <div class="well">
                    <div class="list-group">
                        {% if projects %}
                            <h4>{{ user }}'s Projects</h4>
                            <a href="/create-project/" class="btn btn-primary btn-group-justified">Create Project</a>
                            <br />
                            {% if active_projects %}
                                <a class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#accordion" href="#collapse-active">
                                    Active Projects
                                </a>
                                   <div id="collapse-active" class="panel-collapse collapse in">
                                    {% for project in active_projects %}
                                        <a class="list-group-item" href="" onclick="changeProject('project', 'project-content', {{ project.id }}); return false;">{{ project.name }}</a></li>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if completed_projects %}
                                {% if active_projects %}<p class="divider"></p>{% endif %}
                                <a class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#accordion" href="#collapse-completed">
                                    Completed Projects
                                </a>
                                <div id="collapse-completed" class="panel-collapse collapse in">
                                    {% for project in completed_projects %}
                                        <a class="list-group-item" href="" onclick="changeProject('project', 'project-content', {{ project.id }}); return false;">{{ project.name }}</a></li>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% else %}
                            <p class="list-group-item">No Projects</p>
                            <a href="/create-project" class="btn btn-primary btn-group-justified">Create One</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                {% if not display_project %}
                    <div class="well">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <p{% if message.tags %} class="{{ message.tags }} alert alert-danger"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <h2>No Project Selected.</h2>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-10">
                            <div class="well">
                                {% for project in display_project %}
                                    <script>
                                        test({{ project.id }});
                                    </script>
                                    <h1 style="display: inline-block; padding-right: 25px;">{{ project.name }}
                                      {% if project.is_past_due %}<small class="text-danger">{% else %}<small>{% endif %}
                                        Due: {{ project.due_date }}
                                      </small>
                                    </h1>
                                    {% if not project.completed %}
                                        <button type="submit" class="btn btn-success" style="display: inline-block; float: none;" onclick="finishProject( {{ project.id }});">
                                            Finish <i class="glyphicon glyphicon-check"></i>
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-success" style="display: inline-block; float: none;" onclick="openProject( {{ project.id }});">
                                            Open <i class="glyphicon glyphicon-folder-open"></i>
                                        </button>
                                    {% endif %}
                                    <a href="#" class="btn btn-info" style="display: inline-block; float: none;">
                                        Edit <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <button type="submit" class="btn btn-danger" style="display: inline-block; float: none;" onclick="deleteProject( {{ project.id }});">
                                        Delete <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                    <br />
                                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                                        <label class="btn btn-primary active" onclick="loadHome({{ project.id }});">
                                            <input type="radio" name="options" id="option1" checked>Home
                                        </label>
                                        <label class="btn btn-primary" onclick="loadNotes({{ project.id }});">
                                            <input type="radio" name="options" id="option2">Notes
                                        </label>
                                        <label class="btn btn-primary" onclick="loadFiles({{ project.id }});">
                                            <input type="radio" name="options" id="option3">Files
                                        </label>
                                        <label class="btn btn-primary" onclick="loadCalendar({{ project.id }});">
                                            <input type="radio" name="options" id="option4">Calendar
                                        </label>
                                    </div>
                                    <hr />
                                    <div id="view_content">
                                        <h3>Recent Activity</h3>

                                        {% if not actions %}
                                            <p>No recent activity...</p>
                                        {% else %}
                                            {% for action in actions %}
                                                {% if action.action_performed == "Added" %}
                                                    <p>{{ action.by_who }} <span class="text-success">added</span> {{ action.title }} to
                                                        {{ action.category }} on {{ action.date_occurred }}
                                                    </p>
                                                    {% elif action.action_performed == "Deleted" %}
                                                       <p>{{ action.by_who }} <span class="text-danger">deleted</span> {{ action.title }} from
                                                        {{ action.category }} on {{ action.date_occurred }}
                                                    </p>
                                                    {% elif action.action_performed == "Edited" %}
                                                       <p>{{ action.by_who }} <span class="text-info">edited</span> {{ action.title }} in
                                                        {{ action.category }} on {{ action.date_occurred }}
                                                </p>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well" style="text-align: center;">
                                {% for project in display_project %}
                                <h4>{{ project.name }}'s Actions</h4>
                                <div class="btn-group-vertical">
                                    <a href="/add-user/" class="btn btn-primary btn-block">Add a User</a>
                                    <a href="/add-note/" class="btn btn-primary btn-block">Add a Note</a>
                                    <a href="/add-file/" class="btn btn-primary btn-block">Add a File</a>
                                    <a href="/add-meeting/" class="btn btn-primary btn-block">Add a Meeting</a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="well">
                                {% for project in display_project %}
                                    <h4>{{ project.name }}'s Members</h4>
                                    <ul class="list-group">
                                        {% for project_user in project.users.all %}
                                            {% if project_user.user.is_authenticated %}
                                                <li class="list-group-item">{{ project_user.user }}</li>
                                            {% else %}
                                                <li class="list-group-item disabled">{{ project_user.user }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
