{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container well">
        <h1>Project Name</h1>
        <br />
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-158749">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-1" data-toggle="tab">Home</a>
                        </li>
                        <li>
                            <a href="#panel-2" data-toggle="tab">Notes</a>
                        </li>
                        <li>
                            <a href="#panel-3" data-toggle="tab">Files</a>
                        </li>
                        <li>
                            <a href="#panel-4" data-toggle="tab">Calendar</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-1">
                            <p>
                                Recent Activity
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-2">
                            <p>
                                Notes
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-3">
                            <p>
                                Files
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-4">
                            <p>
                                Calendar
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
