<p>Notes</p>

<div class="panel-group" id="accordion">
    {% for note in notes %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ note.id }}">
                        {{ note.title }}
                    </a>
                </h4>
            </div>
            <div id="collapse-{{ note.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ note.content }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>